<p id="notice"><%= notice %></p>

<h1>Cfg Modules</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cfg_modules.each do |cfg_module| %>
      <tr>
        <td><%= cfg_module.name %></td>
        <td><%= cfg_module.description %></td>
        <td><%= link_to 'Show', cfg_module %></td>
        <td><%= link_to 'Edit', edit_cfg_module_path(cfg_module) %></td>
        <td><%= link_to 'Destroy', cfg_module, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cfg Module', new_cfg_module_path %>
